<!DOCTYPE html>
<html>
  <head>
    <title>Korra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-auto-replace-svg="nest"></script>
  <% if current_user %>
    <script type="text/javascript">
      window.defaultImage = "<%= image_url('blank-prof-pic.jpeg') %>";
      window.currentUser = {
        "id": <%= current_user.id %>,
        "username": "<%= current_user.username%>"
      }
    </script>
  <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
